*.DS_Store
alexa/amzn1.ask.skill.31d5fb5f-6bd1-4538-b04f-cae14d78013d/lambda/key.py
week8_project_report_video.mp4
example-post-get-req/http_venv/
example-post-get-req/test_venv/
raspb-pi/local-venv
example-post-get-req/localhost-venv
example-post-get-req/weatherAppKey.py
.env